pin-depends: [
  ["cn.~dev" "git+https://github.com/rems-project/cn#8658e0c3cf6b7a20e2fbb2c239046cf5724e2f93"]
  ["soteria.~dev" "git+https://github.com/soteria-tools/soteria#4e9182b5e701d7b88afbb0fe99d9da39a350d492"]
  ["cerberus-lib.~dev" "git+https://github.com/rems-project/cerberus.git#e88d46c3ed65a198ee14aaebaad80e3a005cf3fb"]
]
